<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= form_for contact do |f| %>
        <%= f.hidden_field :contact_type, value: contact_type %>
        <%= f.hidden_field :player_id, value: params[:player_id] %>
        <div class="row">
          <div class="col-xs-6">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>


          <div class="col-xs-6">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>
        </div>


        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control' %>


        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>


        <div class="row">
          <div class="col-xs-4">
            <%= f.label :city %>
            <%= f.text_field :city, class: 'form-control' %>
          </div>


          <div class='col-xs-4'>
            <%= f.label :state %>
            <%= f.text_field :state, class: 'form-control' %>
          </div>


          <div class="col-xs-4">
            <%= f.label :zip %>
            <%= f.text_field :zip, class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <%= f.label :home_phone %>
            <%= f.text_field :home_phone, class: 'form-control' %>
          </div>
          <div class="col-xs-6">
            <%= f.label :cell_phone %>
            <%= f.text_field :cell_phone, class: 'form-control' %>
          </div>
        </div>
        <br/>
        <%= f.submit "Save Contact", class: 'btn btn-primary btn-block'%>
      <% end %>
      <br/>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= progress %>%">
           <span class="sr-only"><%= progress %>% Complete</span>
        </div>
         <span class="pull-right">
           <%= progress %>% Complete
         </span>
      </div>
    </div>

  </div>

</div>
