<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= form_for @player do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label "Date of Birth" %>
      <%= f.date_field :dob, class: 'form-control', value: '1990-01-01' %>

      <%= f.label :present_team %>
      <%= f.text_field :present_team, class: 'form-control' %>

      <%= f.label :level %>
      <%= f.text_field :level, class: 'form-control' %>

      <br/>
      <%= f.submit "Begin Registration", class: 'btn btn-primary btn-block' %>
    <% end %>
    <br/>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="10"
      aria-valuemin="0" aria-valuemax="100" style="width:10%">
        <span class="sr-only">10% Complete</span>
      </div>
      <span class="pull-right">
        10% Complete
      </span>
    </div>

  </div>
</div>
