<!DOCTYPE html>
<html>
  <head>
    <title>Tryouts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="header-wrap">
     <h1 class="text-center" style="color: white;"><%= link_to "Pikes Peak Vigilantes Tryouts", root_path, style: 'color: white;'  %></h1>
   </div>
   <br/>
    <%= yield %>
  </body>
</html>
