<!DOCTYPE html>
<html>
  <head>
    <title>Tryouts</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="background">
        <div class="header-wrap row">
        <div class="col-xs-8 col-xs-offset-2">
          <h1 class="text-center " style="color: white;"><%= image_tag('logo.png') %><%= link_to "Pikes Peak Vigilantes Tryouts / Training Camp", root_path, style: 'color: white;'  %></h1>
        </div>
        <div class="col-xs-2">
          <br/><br>
          <%= link_to "Administrators", players_path, class: 'btn btn-default' %>
        </div>
      </div>
      <br/>
      <%= yield %>
    </div>
  </body>
</html>
